/*Expanding form styling(begin)*/
.exp_form{
    display: inline-block;

    position: relative;

    font-size: 13px;
}
    .exp_form-row{
        position: relative;

        margin-bottom: 10px;
    }

        .exp_form-row input[type="text"]{
            width: 244px;
            height: 21px;
            padding: 3px;

            font-family: "Verdana", "Geneva CY", "DejaVu Sans", sans-serif;
            font-size: 13px;

            border: none;
            border: 1px solid #808080;
            border-radius: 5px;
            outline: none;
            background: #fff;
        }

        .exp_form-row input[type="text"]:focus{
            border: 1px solid #1f55ff;
            box-shadow: 0px 0px 2px #1f55ff;
        }

    .exp_form-row.hidden{
        display: none;
    }
/*Expanding form styling(end)*/